<nav class="main-nav">
    <a href="/" class="logo-container"> <img src="/LogoBlanco.png" class="nav-logo" alt="">
    </a>
    <div class="button-listen-now font-crimson"><span>ESCUCHAR AHORA!</span></div>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/all/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>

</nav>
<nav id="main-nav-menu" class="main-nav-menu menu-out">
    <div id="close-button" class="close-button"><span>+</span></div>
    <h2 class="font-crimson">MENU</h2>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/all/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>
    <div class="socials-footer">
        <a href="" class="img-container">
            <img src="/Youtube.svg" alt="youtube">
        </a>
        <a href="" class="img-container">
            <img src="/facebook.svg" alt="facebook">
        </a>
        <a href="" class="img-container">
            <img src="/Twitter.svg" alt="twitter">
        </a>
        <a href="" class="img-container">
            <img src="/Instagram.svg" alt="instagram">
        </a>
    </div>
</nav>
<div id="menu-button" class="menu-button"><span>|||</span></div>



<section class="content">

    <div class="main">
        <h1 class="section-title font-crimson">{{{news.title}}}</h1>
        <article class="article">
            <span class="date font-white">19 de Abril de 2019</span>
            <h1 class="article-title font-white">Bulgaria Aprobaría la ley de matrimonio desigualitario, ahora todos
                tendríamos
                que amar a Baby Etchecopar.</h1>
            <p class="description font-white">Pocas cosas nos traen tan mal acostumbrados como la falta de guerra en
                un país
                serio. Si fuesemos un poco más inteligentes probablemente lograríamos grandes cambios en la noción
                de identidad de generos; pero claro, es obvio que nos satisface más quedarnos en casa pegándole al
                perro en vez de interpretar la realidad bajo la lupa microscópica que hace falta para localizar tu
                micropene.</p>

            <div class="author-sharers-container">
                <div class="author-info">
                    <div class="author-img-container rounded-borders">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fepod.cid.harvard.edu%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fperson_thumbnail%2Fpublic%2F2018-04%2Fpatrick_agte.png%3Fitok%3D_ko6vOSt&f=1&nofb=1"
                            alt="author-img" class="author-img">
                    </div>
                    <span class="name font-white">Por <strong>Eructa Saliva</strong></span>
                </div>

                <div class="socials-sharers">

                    <a href="#">
                        <div class="img-container">
                            <img src="/socials/telegram.svg" alt="">
                        </div>
                    </a>
                    <a href=" #">
                        <div class="img-container">
                            <img src="/socials/messenger.svg" alt="">
                        </div>
                    </a>
                    <a href=" #">
                        <div class="img-container">
                            <img src="/socials/facebook (1).svg" alt="">
                        </div>
                    </a>
                    <a href=" #">
                        <div class="img-container">
                            <img src="/socials/instagram.svg" class="rounded-borders" alt="">
                        </div>
                    </a>
                    <a href=" #">
                        <div class="img-container">
                            <img src="/socials/twitter.svg" alt="">
                        </div>
                    </a>
                    <a href=" #">
                        <div class="img-container">
                            <img src="/socials/whatsapp.svg" alt="">
                        </div>
                    </a>


                </div>
            </div>


            <div class="main-media">
                <iframe src="https://www.youtube.com/embed/--GB9qyZJqg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <span class="caption font-white">Fuente: Radio Entre-Piernas S.A.</span>

            </div>

            <div class="body">
                <p>La activista medioambiental sueca Greta Thunberg ha hecho notar que leyó el consejo
                    del
                    presidente estadounidense, Donald Trump, de relajarse y resolver su "problema de
                    manejo
                    de
                    la
                    ira" cambiando la presentación de su perfil de Twitter.</p>
                <p>Cuando no había transcurrido ni una hora desde que el presidente norteamericano
                    escribiera el
                    tuit, la chica escribió en su 'bio' de Twitter: "Una adolescente que trabaja en su
                    problema
                    de
                    manejo de la ira. Actualmente se está relajando y mirando una buena película con un
                    amigo".
                </p>
                <p>En un tuit escrito este jueves en su cuenta de Twitter, el mandatario estadounidense
                    compartió la
                    portada de Time con la imagen de la joven activista sueca, y comentó que "Greta debe
                    trabajar en
                    su problema de manejo de la ira" para lo que, debería ver "una buena película con un
                    amigo".
                </p>
                <p>Asimismo, el presidente estadounidense ha valorado como "ridícula" la designación de
                    Greta
                    Thunberg como persona del año 2019 por la revista Time.</p>
                Trump fue otro de los nominados, junto con su rival política Nancy Pelosi, su homólogo
                chino
                Xi
                Jinping y el cofundador de Facebook, Mark Zuckerberg, entre otros.
            </div>
        </article>
        <h1 class="section-title font-crimson">RECORTES</h1>

        <section id="columns" class="columns">
            <div class="article-1">
                <div class="column-image-container">
                    <a href="#">
                        <img src="https://source.unsplash.com/random/501x502" class="column-img" alt="">
                        <img src="/play-crimson-small.png" class="column-play" alt=""></a>

                </div>
                <span class="custom-headline font-crimson font-italic">Entre-Piernas Soft</span>
                <a href="#">
                    <h3 class="custom-small-title font-white title-hover">Dale un pancho a la Nati y te lo
                        convierte
                        en
                        choripan</h3>
                </a>
            </div>
            <div class="article-2">
                <div class="column-image-container">
                    <a href="#">
                        <img src="https://source.unsplash.com/random/502x502" class="column-img" alt="">
                        <img src="/play-crimson-small.png" class="column-play" alt=""></a>

                </div>
                <span class="custom-headline font-crimson font-italic">Cojiendo Borracho</span>
                <a href="#">
                    <h3 class="custom-small-title font-white title-hover">"¿Nunca te arrastraron hasta la cama?"
                    </h3>
                </a>
            </div>
            <div class="article-3">
                <div class="column-image-container">
                    <a href="#">
                        <img src="https://source.unsplash.com/random/500x503" class="column-img" alt="">
                        <img src="/play-crimson-small.png" class="column-play" alt=""></a>

                </div>
                <span class="custom-headline font-crimson font-italic">El Ministerio de la venganza</span>
                <a href="#">
                    <h3 class="custom-small-title font-white title-hover">El peronismo integaláctico está
                        preparando
                        su
                        revancha</h3>
                </a>
            </div>
    </div>

    <div class="aside">
        <div class="auto-container">
            <div class="last-episode">
                <iframe width="100%" height="200px" src="https://www.youtube.com/embed/7hPMmzKs62w" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="suscribe">
                <img src="/suscribe.png" alt="">
            </div>
            <div class="more-news-container">
                <h1 class="section-title font-crimson">MÁS NOTICIAS</h1>

                <section id="more-news" class="more-news">

                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">La DamaJuana Maestra nos trae mucha
                                felicidad</h3>
                        </a>
                        <span class="custom-author font-crimson">Por Analía Ramírez</span>
                    </div>
                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">El patriarcado contraataca y estamos
                                podridas,
                                vamos a
                                prender
                                fuego todo.</h3>
                        </a>
                        <span class="custom-author font-crimson">Por PUSSY RIOT GONZALEZ</span>
                    </div>
                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">Si vas a cocinar arroz, mejor hacelo en
                                una
                                cacerola.
                                Reflexiones Postmodernas.</h3>
                        </a>
                        <span class="custom-author font-crimson">Por FRANCO VATTIMO GIMENEZ</span>
                    </div>
                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">Perreo y revolución, la nueva tendencia
                                para
                                luchar
                                contra
                                la
                                policía.</h3>
                        </a>
                        <span class="custom-author font-crimson">Por RESIDENTA CALLA TERESA</span>
                    </div>
                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">"La economía está solucionada para
                                siempre"</h3>
                        </a>
                        <span class="custom-author font-crimson">Por MAURICIO MACRI</span>
                    </div>
                    <div class="article">
                        <a href="#">
                            <h3 class="custom-small-title font-white">¿Y si todos fueramos Donald Trump?</h3>
                        </a>
                        <span class="custom-author font-crimson">Por DONALD TRUMP OK</span>
                    </div>

                </section>
            </div>
        </div>


    </div>
</section>




<footer class="footer">
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">¿Quienes somos?</h3>
        </a>
        <p class="font-white">Radio Entre-Piernas es un medo alternativo centrado en la comunicación desdelas
            disidencias, que se
            desprende del proyecto original "Entre Piernas Noches De Club"</p>
    </div>
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">¿Querés Colaborar?</h3>
        </a>
        <p class="font-white">Si querés enterarte de más, entrá en el laberinto y buscanos en nuestras redes.
        </p>
        <p class="font-white">Si querés participar de la redacción o proponer un programa para nuestra radio, no
            dudes en enviar un
            email a <strong class="font-crimson">radioentrepiernas@gmail.com</strong></p>
    </div>
    <div class="item">
        <a href="#">
            <h3 class="custom-medium-title font-crimson">Copyright</h3>
        </a>
        <p class="font-white">Ninguna de las noticias publicadas tiene copyright o derechos de autor. Todo lo
            publicado está liberado
            para ser reproducido o compar tido, sólo sugerimos compar tir la fuente y así
            contribuir con el proyecto</p>
    </div>

    <div class="socials-footer">
        <a href="" class="img-container">
            <img src="/Youtube.svg" alt="youtube">
        </a>
        <a href="" class="img-container">
            <img src="/facebook.svg" alt="facebook">
        </a>
        <a href="" class="img-container">
            <img src="/Twitter.svg" alt="twitter">
        </a>
        <a href="" class="img-container">
            <img src="/Instagram.svg" alt="instagram">
        </a>
    </div>
</footer>




<script>

    document.getElementById("menu-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.remove("menu-out");
        };
        if (!document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.add("menu-in");
        }
    });
    document.getElementById("close-button").addEventListener("click", () => {
        if (document.getElementById("main-nav-menu").classList.contains("menu-in")) {
            document.getElementById("main-nav-menu").classList.remove("menu-in");
        }
        if (!document.getElementById("main-nav-menu").classList.contains("menu-out")) {
            document.getElementById("main-nav-menu").classList.add("menu-out");
        }
    });
</script>

<style>
    body {
        overflow-x: hidden;
        background-color: rgb(0, 0, 0);
        font-family: 'Open Sans', sans-serif;
    }

    a {
        text-decoration: none;
    }

    /* FONTS */

    .small-header {
        display: none;
    }

    .font-white,
    .body p {
        color: white;
        transition: color 0s ease-in-out;
    }

    .font-crimson {
        color: crimson;
        transition: all 0.6s ease-in-out;
    }

    .font-italic {
        font-style: italic;
    }

    .custom-big-title {
        display: block;
        font-size: 200%;
        margin: 3% 0;
    }

    .custom-medium-title {
        display: block;
        font-size: 170%;
        font-weight: 400;
        margin: 2% 0;
    }

    /* width */

    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        background: #040A0E;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: rgba(24, 104, 158, 0.788);
        transition: all 0.5s ease-in-out;
    }

    /* Handle on hover */

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 153, 255);
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scrollbar-color: rgb(0, 153, 255) rgb(0, 0, 0);
        scrollbar-width: thin;
    }

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.954);
    }

    .menu-button,
    .main-nav-menu {
        display: none;
    }

    .main-nav .logo-container {
        position: absolute;
        width: 12%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav .nav-logo {
        width: auto;
        height: 65%;
    }

    .main-nav .button-listen-now {
        position: relative;
        margin-left: 26%;
        top: 10%;
        bottom: auto;
        width: 19%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        font-size: 180%;
        border: 2px solid crimson;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
    }

    .main-nav .button-listen-now:hover {
        color: white;
        cursor: pointer
    }

    .main-nav .button-listen-now:before {
        content: " ";
        position: absolute;
        width: 600px;
        height: 300px;
        top: 100px;
        left: 100px;
        border-radius: 50%;
        background-color: crimson;
        z-index: -1;
        transition: all 0.8s ease-out;
    }

    .main-nav .button-listen-now:hover:before {
        transform: translate(-40%, -70%);
    }

    .main-nav .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 10vh;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }

    .main-nav .nav-link {
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.2s ease-in-out;
        transition: transform 0.1s ease-in-out;
    }

    .main-nav .nav-link:focus,
    .main-nav .nav-link:hover {
        color: white;
    }

    .main-nav .nav-link:active {
        transform: translateY(2px);
    }

    .content {
        margin: 10vh auto 4vh auto;
        width: 90%;
        position: relative;
        display: grid;
        grid-template-columns: 9fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: "main aside";
        grid-gap: 4vh;
    }

    .main {
        grid-area: main;
        height: auto;
    }

    .main .section-title {
        position: relative;
        height: auto;
        width: auto;
        z-index: 2;
        margin: 2% auto 0 auto;
        font-family: 'Anton', sans-serif;
        font-size: 300%;
        letter-spacing: 0.3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    }

    .main .article .date {
        position: relative;
        float: right;
        margin-top: 0;
        font-size: 85%;
    }

    .article-title {
        padding-top: 4vh;
        margin-bottom: 1vh;
        width: 100%;
        font-size: 250%;
        font-weight: bold;
        text-align: left;
        letter-spacing: 0.1.5rem;
    }

    .main .article .description {
        opacity: 0.8;
        margin: 5vh auto;
    }

    .author-sharers-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1%;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }

    .author-info {
        display: inline-flex;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
    }

    .author-img-container {
        width: 5vh;
        height: 5vh;
        background-color: crimson;
        margin-right: 3%;
    }

    .author-img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 100%;
    }

    .socials-sharers {
        position: relative;
        width: 30%;
        display: inline-flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

    .socials-sharers .img-container {
        width: 3.5vh;
        height: 3.5vh;
    }

    .rounded-borders {
        border-radius: 100%;
    }

    .socials-sharers .img-container img {
        object-fit: cover;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .main-media {
        height: auto;
        width: 95%;
        margin: 5% auto 3% 1%;
    }

    .main-media iframe {
        margin-bottom: 0;
        height: 70vh;
        width: 100%;
    }

    .caption {
        position: relative;
        opacity: 0.5;
        font-style: oblique;
        font-size: 90%;
    }

    .article .body p {
        position: relative;
        line-height: 2rem;
        opacity: 1;
        letter-spacing: 0.0rem;
        margin-block-end: 2%;
        margin-bottom: 2%;
        text-rendering: optimizeLegibility;
    }

    .article .body {
        position: relative;
        margin-bottom: 5vh;
    }

    .columns {
        margin-top: 3vh;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 3vh;
    }

    .columns .column-image-container {
        position: relative;
        width: 100%;
        height: 40vh;
        min-height: 40vh;
        background-color: crimson;
    }

    .column-image-container .column-img {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .column-play {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 25%;
        height: auto;
        filter: opacity(0.9);
    }

    .aside {
        grid-area: aside;
        height: auto;
    }

    .auto-container {
        width: 100%;
        height: auto;
        position: sticky;
        top: 10vh;
    }

    .suscribe {
        width: 25vw;
        max-width: 25vw;
        min-width: 150px;
        height: auto;
        background-color: crimson;
        margin: 5vh auto;
    }

    .suscribe img {
        object-fit: cover;
        height: 100%;
        max-height: 100%;
        width: 100%;
        min-width: 100%;
    }

    .aside .section-title {
        position: relative;
        height: auto;
        width: auto;
        z-index: 2;
        margin: 2% auto 2% auto;
        font-family: 'Anton', sans-serif;
        font-size: 300%;
        letter-spacing: 0.3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.63);
        margin-bottom: 2%;
    }

    .more-news {
        padding: 2vh 0 0 0;
        background-color: rgba(255, 251, 251, 0.08);
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .more-news .article {
        width: 92%;
        margin: 0 auto 5vh auto;
    }

    .footer {
        position: relative;
        height: auto;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer .item {
        width: 25%;
    }

    .footer-socials {
        width: 100%;
    }

    .footer {
        background-color: rgb(57, 57, 57, 0.51);
        padding-top: 1%;
        margin-top: 10vh;
    }

    .footer h3 {
        margin: 2% 0;
    }

    .socials-footer {
        margin-top: 0.5%;
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2%;
    }

    .socials-footer .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 7vh;
        margin-right: 2%;
        border-radius: 50% 50%;
        background-color: crimson;
    }

    .socials-footer .img-container img {
        height: 5vh;
        width: auto;
    }

    @media only screen and (max-width: 1050px) {
        .main-nav .button-listen-now {
            font-size: 150%
        }

        .aside .more-news-container .section-title {
            font-size: 220%;
        }
    }

    @media only screen and (max-width: 950px) {
        .section-title {
            text-align: center;
        }

        .small-header {
            background-image: url(/small-header.JPG);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 15vh;
            z-index: 99;
            position: relative;
            align-items: center;
            display: flex;
        }

        .small-header .img-container {
            margin-left: 2%;
            padding-right: 15%;
            width: auto;
            height: 80%;
            max-width: 20vh;
            max-height: 15vh;
        }

        .small-header .img-container img {
            object-fit: cover;
            max-height: 100%;
            width: auto;
        }

        .main-nav {
            display: none
        }

        .menu-button {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            height: 10vh;
            width: 10vh;
            bottom: 2vh;
            right: 2vh;
            z-index: 99;
            background-color: crimson;
            cursor: pointer
        }

        .menu-button span {
            font-weight: bolder;
        }

        .main-nav-menu {
            position: fixed;
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.945);
            z-index: 100;
            padding-left: 5%;
            transition: all 0.2s ease-in-out;
        }

        .menu-in {
            transform: translateX(0);
        }

        .menu-out {
            transform: translateX(-100%);
        }

        .main-nav-menu .close-button {
            position: absolute;
            top: 2vh;
            right: 2vh;
            width: 7vh;
            height: 7vh;
            background-color: crimson;
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 210%;
            border-radius: 50%;
            cursor: pointer;
        }

        .main-nav-menu h2 {
            margin-top: 5vh;
            margin-bottom: 3vh;
            font-size: 400%;
            font-weight: bold;
        }

        .main-nav-menu .nav-list {
            height: 50%;
            margin-left: 1%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        .main-nav-menu .nav-link {
            font-size: 180%;
        }

        .main-nav-menu .socials-footer {
            justify-content: space-evenly;
            max-width: 100%;
            margin: auto;
        }

        .content {
            margin: 0vh auto 4vh auto;
            width: 90%;
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        .main,
        .aside,
        .auto-container,
        .last-episode,
        .suscribe {
            position: relative;
            display: block;
            top: unset
        }

        .main .article {
            margin-bottom: -10vh
        }

        .last-episode {
            height: auto;
            width: 95%;
            margin: 5% auto 3% 1%;
        }

        .last-episode iframe {
            margin-bottom: 0;
            height: 70vh;
            width: 100%;
        }

        .suscribe {
            width: 70%;
            max-width: 70%;
            min-width: unset;
            height: auto;
            background-color: crimson;
            margin: 5vh auto;
        }

        .suscribe img {
            object-fit: cover;
            height: 100%;
            max-height: 100%;
            width: 100%;
            min-width: 100%;
        }

        .aside .more-news-container .section-title {
            font-size: 300%;
        }
    }

    @media screen and (max-width: 700px) {
        .author-sharers-container {
            width: 100%;
            flex-flow: column;
            justify-content: center;
            padding-top: 1%;
            border-top: 1px solid rgba(255, 255, 255, 0.151);
        }

        .author-info {
            width: 100%;
            margin-bottom: 5%;

        }


        .socials-sharers {
            position: relative;
            width: 100%;
            justify-self: end;
            display: inline-flex;
            flex-flow: row;
            justify-content: space-between;
        }

        .socials-sharers .img-container {
            width: 5vh;
            height: 5vh;
        }


        .columns {
            margin-top: 3vh;
            height: auto;
            width: 100%;
            display: flex;
            flex-flow: column;
        }

        .article-1,
        .article-2,
        .article-3 {
            background-color: rgba(255, 251, 251, 0.08);
            margin-bottom: 10%
        }

        .columns .column-image-container {
            position: relative;
            width: 100%;
            height: 40vh;
            min-height: 40vh;
            background-color: crimson;
            margin-bottom: 4%;
        }

        .columns span {
            padding-left: 4%;
            padding-right: 4%;
        }

        .columns h3 {
            padding-bottom: 4%;
            padding-left: 4%;
            padding-right: 4%;
        }

        .footer {
            position: relative;
            height: auto;
            width: 100%;
            margin: 7vh auto 0 auto;
            display: flex;
            flex-flow: column;
            flex-wrap: unset;
        }

        .footer .item {
            width: 90%;
            margin: 2vh auto 4vh auto;
        }

        .socials-footer {
            margin-top: 0.5%;
            width: 100%;
            height: 12vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 2%;
        }

        .socials-footer .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7vh;
            width: 7vh;
            margin-right: 2%;
            border-radius: 50% 50%;
            background-color: crimson;
        }

        .socials-footer .img-container img {
            height: 5vh;
            width: auto;
        }
    }

    @media screen and (max-width: 520px) {
        .small-header {
            background-position-x: 30%;
        }

        .article-title {
            font-size: 165%;
        }

        .suscribe {
            width: 100%;
            max-width: 100%;
            min-width: unset;
            height: auto;
            background-color: crimson;
            margin: 5vh auto;
        }
    }
</style>