body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* FONTS */

.small-header {
    display: none;
}

.font-white, .body p {
    color: white;
    transition: color 0s ease-in-out;
}

.font-crimson {
    color: crimson;
    transition: all 0.6s ease-in-out;
}

.font-italic {
    font-style: italic;
}

.custom-medium-title {
    display: block;
    font-size: 170%;
    font-weight: 400;
    margin: 2% 0;
}

.columns .custom-small-title {
    font-size: 140%;
}

.columns .custom-headline {
    font-size: 100%;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #040A0E;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(24, 104, 158, 0.788);
    transition: all 0.5s ease-in-out;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 153, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: rgb(0, 153, 255) rgb(0, 0, 0);
    scrollbar-width: thin;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.954);
}

.menu-button, .main-nav-menu {
    display: none;
}

.main-nav .logo-container {
    position: absolute;
    width: 12%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav .nav-logo {
    width: auto;
    height: 65%;
}

.main-nav .button-listen-now {
    position: relative;
    margin-left: 26%;
    top: 10%;
    bottom: auto;
    width: 19%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 180%;
    border: 2px solid crimson;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.main-nav .button-listen-now:hover {
    color: white;
    cursor: pointer
}

.main-nav .button-listen-now:before {
    content: " ";
    position: absolute;
    width: 600px;
    height: 300px;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    background-color: crimson;
    z-index: -1;
    transition: all 0.8s ease-out;
}

.main-nav .button-listen-now:hover:before {
    transform: translate(-40%, -70%);
}

.main-nav .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.main-nav .nav-link {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.main-nav .nav-link:focus, .main-nav .nav-link:hover {
    color: white;
}

.main-nav .nav-link:active {
    transform: translateY(2px);
}

.content {
    margin: 10vh auto 4vh auto;
    width: 90%;
    position: relative;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "main aside";
    grid-gap: 4vh;
}

.main {
    grid-area: main;
    height: auto;
}

.main .section-title {
    position: relative;
    height: auto;
    width: auto;
    z-index: 2;
    margin: 2% auto 0 auto;
    font-family: 'Anton', sans-serif;
    font-size: 300%;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.main .article .date {
    position: relative;
    float: right;
    margin-top: 0;
    font-size: 85%;
}

strong {
    color: white;
    font-weight: bold;
}

.article-title {
    padding-top: 4vh;
    margin-bottom: 1vh;
    font-size: 300%;
    font-weight: bold;
    text-align: left;
}

@media screen and (min-width: 1000px) {
    .article-title {
        width: 95%;
    }
    .description {
        width: auto;
        max-width: 80%;
        text-align: justify;
    }
}

.main .article .description {
    margin: 2rem auto 3.5vh 0;
}

.main .article .description p {
    text-align: justify;
    opacity: 0.8;
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin-block-end: 1.5%;
}

.author-sharers-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    border-top: 1px solid rgba(255, 255, 255, 0.151);
}

.author-info {
    display: inline-flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.author-img-container {
    width: 5vh;
    height: 5vh;
    background-color: crimson;
    margin-right: 3%;
}

.author-img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.socials-sharers {
    position: relative;
    width: 30%;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.socials-sharers .img-container {
    width: 3.5vh;
    height: 3.5vh;
}

.rounded-borders {
    border-radius: 100%;
}

.socials-sharers .img-container img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-media {
    height: 70vh;
    max-height: 70vh;
    width: 95%;
    margin: 5% auto 6% 1%;
}

.main-media iframe {
    margin-bottom: 0;
    height: 70vh;
    width: 100%;
}

.main-media img {
    display: block;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.caption {
    position: relative;
    opacity: 0.5;
    font-style: oblique;
    font-size: 90%;
}

@media screen and(min-width:1000px) {
    .article {
        max-width: 60vw;
    }
}

.article .body p {
    text-align: justify;
    color: rgb(167, 167, 167);
    margin-block-end: 4%;
    margin-bottom: 4%;
    position: relative;
}

.article .body p, .article .body a {
    font-size: 1.3rem;
    max-width: 85%;
    line-height: 2rem;
    letter-spacing: 0.0rem;
    text-rendering: optimizeLegibility;
    word-break: break-word;
}

.article .body a {
    color: crimson
}

.article .body div {
    margin: 6vh 0;
}

@media screen and (max-width:600px) {
    .article .body p {
        max-width: unset;
        margin-block-end: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.article .body blockquote {
    margin-left: 3%;
    padding: 0% 3%;
    border-left: 4px solid crimson;
}

.article .body blockquote p {
    color: rgba(255, 255, 255, 0.747);
}

.article .body {
    position: relative;
    margin-bottom: 5vh;
}

.columns {
    margin-top: 3vh;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3vh;
}

.columns .column-image-container {
    position: relative;
    width: 100%;
    height: 40vh;
    min-height: 40vh;
    background-color: crimson;
}

.column-image-container .column-img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.column-play {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 25%;
    height: auto;
    filter: opacity(0.9);
}

.aside {
    grid-area: aside;
    height: auto;
}

.auto-container {
    width: 100%;
    height: auto;
    position: sticky;
    top: 10vh;
}

.suscribe {
    width: 25vw;
    max-width: 25vw;
    min-width: 150px;
    height: auto;
    background-color: crimson;
    margin: 5vh auto;
}

.suscribe img {
    object-fit: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
    min-width: 100%;
}

.aside .section-title {
    position: relative;
    height: auto;
    width: auto;
    z-index: 2;
    margin: 2% auto 2% auto;
    font-family: 'Anton', sans-serif;
    font-size: 300%;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    margin-bottom: 2%;
}

.more-news {
    padding: 2vh 0 0 0;
    /*background-color: rgba(255, 251, 251, 0.08);*/
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.more-news .article {
    border: 1px solid rgba(128, 0, 128, 0);
    background-color: rgba(255, 251, 251, 0.055);
    box-shadow: 1px 1px 20px 2px rgba(137, 43, 226, 0.05);
    width: 98%;
    margin: 0 auto 2vh auto;
    padding: 4%
}

.footer {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer .item {
    width: 25%;
}

.footer-socials {
    width: 100%;
}

.footer {
    background-color: rgb(57, 57, 57, 0.51);
    padding-top: 1%;
    margin-top: 10vh;
}

.footer h3 {
    margin: 2% 0;
}

.socials-footer {
    margin-top: 0.5%;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
}

.socials-footer .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7vh;
    margin-right: 2%;
    border-radius: 50% 50%;
    background-color: crimson;
}

.socials-footer .img-container img {
    height: 5vh;
    width: auto;
}

@media only screen and (max-width: 1050px) {
    .main-nav .button-listen-now {
        font-size: 150%
    }
    .aside .more-news-container .section-title {
        font-size: 220%;
    }
}

@media only screen and (max-width: 950px) {
    .section-title {
        text-align: center;
    }
    .small-header {
        background-image: url(/img/small-header.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 15vh;
        z-index: 99;
        position: relative;
        align-items: center;
        display: flex;
    }
    .small-header .img-container {
        margin-left: 2%;
        padding-right: 15%;
        width: auto;
        height: 80%;
        max-width: 20vh;
        max-height: 15vh;
    }
    .small-header .img-container img {
        object-fit: cover;
        max-height: 100%;
        width: auto;
    }
    .main-nav {
        display: none
    }
    .menu-button {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        height: 10vh;
        width: 10vh;
        bottom: 2vh;
        right: 2vh;
        z-index: 99;
        background-color: crimson;
        cursor: pointer
    }
    .menu-button span {
        font-weight: bolder;
    }
    .main-nav-menu {
        position: fixed;
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.945);
        z-index: 100;
        padding-left: 5%;
        transition: all 0.2s ease-in-out;
    }
    .menu-in {
        transform: translateX(0);
    }
    .menu-out {
        transform: translateX(-100%);
    }
    .main-nav-menu .close-button {
        position: absolute;
        top: 2vh;
        right: 2vh;
        width: 7vh;
        height: 7vh;
        background-color: crimson;
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 210%;
        border-radius: 50%;
        cursor: pointer;
    }
    .main-nav-menu h2 {
        margin-top: 5vh;
        margin-bottom: 3vh;
        font-size: 400%;
        font-weight: bold;
    }
    .main-nav-menu .nav-list {
        height: 50%;
        margin-left: 1%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .main-nav-menu .nav-link {
        font-size: 180%;
    }
    .main-nav-menu .socials-footer {
        justify-content: space-evenly;
        max-width: 100%;
        margin: auto;
    }
    .content {
        margin: 0vh auto 4vh auto;
        width: 90%;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .main, .aside, .auto-container, .last-episode, .suscribe {
        position: relative;
        display: block;
        top: unset
    }
    /*.main .article {
        margin-bottom: -10vh
    }*/
    .last-episode {
        height: auto;
        width: 95%;
        margin: 5% auto 3% 1%;
    }
    .last-episode iframe {
        margin-bottom: 0;
        height: 70vh;
        width: 100%;
    }
    .suscribe {
        width: 70%;
        max-width: 70%;
        min-width: unset;
        height: auto;
        background-color: crimson;
        margin: 5vh auto;
    }
    .suscribe img {
        object-fit: cover;
        height: 100%;
        max-height: 100%;
        width: 100%;
        min-width: 100%;
    }
    .aside .more-news-container .section-title {
        font-size: 300%;
    }
}

@media screen and (max-width: 700px) {
    .author-sharers-container {
        width: 100%;
        flex-flow: column;
        justify-content: center;
        padding-top: 1%;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }
    .author-info {
        width: 100%;
        margin-bottom: 5%;
    }
    .socials-sharers {
        position: relative;
        width: 100%;
        justify-self: end;
        display: inline-flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .socials-sharers .img-container {
        width: 5vh;
        height: 5vh;
    }
    .columns {
        margin-top: 3vh;
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .column-article {
        margin-bottom: 10%
    }
    .columns .column-image-container {
        position: relative;
        width: 100%;
        height: 40vh;
        min-height: 40vh;
        background-color: crimson;
        margin-bottom: 4%;
    }
    .columns span {
        padding-left: 4%;
        padding-right: 4%;
    }
    .columns h3 {
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .footer {
        position: relative;
        height: auto;
        width: 100%;
        margin: 7vh auto 0 auto;
        display: flex;
        flex-flow: column;
        flex-wrap: unset;
    }
    .footer .item {
        width: 90%;
        margin: 2vh auto 4vh auto;
    }
    .socials-footer {
        margin-top: 0.5%;
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2%;
    }
    .socials-footer .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        width: 7vh;
        margin-right: 2%;
        border-radius: 50% 50%;
        background-color: crimson;
    }
    .socials-footer .img-container img {
        height: 5vh;
        width: auto;
    }
}

@media screen and (max-width: 520px) {
    .main-media {
        max-height: 50vh;
    }
    .small-header {
        background-position-x: 30%;
    }
    .article-title {
        font-size: 165%;
    }
    .article {
        height: auto;
    }
    .article .main-media {
        height: auto;
    }
    .article .main-media iframe, .article .main-media .caption {
        margin: 1vh 0 2vh 0;
        height: auto;
    }
    .suscribe {
        width: 100%;
        max-width: 100%;
        min-width: unset;
        height: auto;
        background-color: crimson;
        margin: 5vh auto;
    }
}