/* FONTS */

.uppercase {
    display: inline;
    font-weight: bolder;
    text-transform: uppercase;
}

.font-white {
    color: white;
    transition: color 0s ease-in-out;
}

.font-crimson {
    color: crimson;
    transition: color 0.6s ease-in-out;
}



.custom-big-title {
    display: block;
    font-size: 180%;
    margin: 0% 0% 10% 0%;
}

.custom-medium-title {
    display: block;
    font-size: 170%;
    font-weight: 400;
    margin: 0% 0% 5% 0;
}

.custom-small-title {
    display: block;
    font-size: 110%;
    margin: 4% 0;
}

.custom-headline {
    display: block;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

.custom-author {
    display: block;
    font-size: 75%;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


.columns-and-news-container .title, .emitions .title {
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    font-family: 'Anton', sans-serif;
    font-size: 300%;
    letter-spacing: 0.3rem;
    width: 100%;
    align-self: end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.news .custom-headline {
    font-style: italic;
}

.news .custom-small-title {
    margin-bottom: 15%;
}

.news .display-medium p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-title {
    position: relative;
    height: auto;
    z-index: 2;
    width: 85%;
    margin: auto;
    padding-bottom: 0.5%;
    margin-bottom: 3%;
    font-family: 'Anton', sans-serif;
    font-size: 300%;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.columns-and-news-container .title-small {
    padding-bottom: 0.5%;
    margin-bottom: 2.4%;
    font-family: 'Anton', sans-serif;
    font-size: 250%;
    letter-spacing: 0.3rem;
    width: 100%;
    align-self: end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
}

.news .article-1 .news-image-container {
    position: relative;
    width: 100%;
    height: 45vh;
    margin-right: 3%;
    background-color: rgba(220, 20, 60, 0.63);
}

.news .article-1 .news-image-container .news-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* headlines and titles */

/* article 2  */

.news .article-2 .news-image-container {
    position: relative;
    min-width: 27vh;
    width: 27vh;
    height: auto;
    float: left;
    background-color: rgba(220, 20, 60, 0.63);
    overflow: hidden;
}

.news .article-2 .news-image-container .news-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out
}

.news .article-2, .news .article-3, .news .article-4, .news .article-5, .news .article-6 {
    display: flex;
    flex-flow: row;
}

.news .article-1 .custom-author, .news .article-1 .custom-headline, .news .article-1 .custom-big-title {
    margin-left: 0%;
}

/*  small image container */

.news .article-3, .news .article-4, .news .article-5, .news .article-6 {
    display: flex;
    flex-flow: row;
}

.news-image-container-small {
    position: relative;
    min-width: 23vh;
    max-width: 23vh;
    width: 23vh;
    height: 100%;
    min-height: 100%;
    background-color: rgba(220, 20, 60, 0.63);
}

.news-image-container-small .news-img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
}

.columns .column-image-container {
    position: relative;
    width: 100%;
    height: 60%;
    min-height: 60%;
    background-color: crimson;
}

.column-image-container .column-img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.column-play {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 25%;
    height: auto;
    filter: opacity(0.9);
}

.article-big .emition-image-container {
    width: 100%;
    max-width: 40vw;
    height: 60vh;
    max-height: 60vh;
    background-color: rgba(220, 20, 60, 0);
}

.emition-image-container .emition-img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.article-small {
    display: flex;
    flex-flow: row;
    max-height: 20vh;
    max-width: 50vw;
    background-color: rgba(51, 51, 51, 0.28)
}

.article-small .custom-headline {
    max-width: 32vw;
    max-height: 30%;
}

.article-small .emition-image-container {
    width: 30%;
    min-width: 30%;
    height: 20vh;
    max-height: 20vh;
    margin-right: 4%;
    background-color: crimson;
}

.emition-image-container .emition-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.article-small .custom-small-title {
    margin: 0.5rem 0;
}

.article-small .custom-author {
    margin-top: 0.5rem;
}






@media only screen and (max-width: 999px) {
    .custom-big-title {
        display: block;
        font-size: 200%;
        margin: 3% 0;
    }
    .custom-medium-title {
        display: block;
        font-size: 170%;
        font-weight: 400;
        margin: 2% 0;
    }
    .custom-small-title {
        display: block;
        font-size: 110%;
        margin: 4% 0;
    }
    .custom-headline {
        display: block;
        font-size: 78%;
        font-family: 'Lato', sans-serif;
    }
    .custom-author {
        display: block;
        font-size: 75%;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }
    
    .news-title, .columns-and-news-container .title-small, .columns-and-news-container .title, .emitions .title {
        position: relative;
        height: auto;
        z-index: 2;
        width: 100%;
        margin: 5vh auto 0px auto;
        padding-bottom: 0.5%;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 350%;
        letter-spacing: 0.3rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    }
    .news .article-1, .news .article-2, .news .article-3, .news .article-4, .news .article-5, .news .article-6, .emitions .article-big, .emitions .article-small {
        display: flex;
        flex-flow: column;
    }
    .article-small {
        max-height: unset;
        max-width: unset;
    }
    .article-small .clamp {
        max-height: unset;
        max-width: 95%;
    }
    .news .article-1 .news-image-container, .news .article-2 .news-image-container, .news-image-container-small, .article-big .emition-image-container, .article-small .emition-image-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 40vh;
        max-height: 40vh;
        margin-right: 0%;
        background-color: rgba(220, 20, 60, 0.63);
    }
    .news .article-1 .news-image-container .news-img, .news .article-2 .news-image-container .news-img, .news-image-container-small .news-img, .emition-image-container .emition-img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .columns .column-image-container {
        position: relative;
        width: 100%;
        height: 60%;
        min-height: 60%;
        background-color: crimson;
    }
    .column-image-container .column-img {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .column-play {
        position: absolute;
        top: 1%;
        left: 1%;
        width: 25%;
        height: auto;
        filter: opacity(0.9);
    }
    .emitions .article-big .custom-medium-title, .emitions .article-small .custom-small-title {
        display: block;
        font-size: 170%;
        font-weight: 400;
        margin-top: 0;
    }
    .emitions .article-big .custom-headline, .emitions .article-small .custom-author {
        display: block;
        font-size: 85%;
        font-family: 'Lato', sans-serif;
        margin-bottom: 5%;
    }
    .emitions .article-big .custom-small-title, .emitions .article-small .custom-headline {
        display: block;
        font-size: 100%;
        margin: 4% 0;
    }
    .emitions .info {
        background-color: rgba(51, 51, 51, 0.28);
        padding: 4%;
    }
    
}