<div class="section-margin-trending">

    <div class="title-container">
        <div class="blue-v-line"></div>
        <h2 class="recortes-title">Lo mejor de Radio Entre-Piernas</h2>
    </div>
    <div class="trending-container">
        {{#each columns}}
        <div class="img-container">
            <img class="trending-img" src="{{thumbnail}}" alt="">
            <a href="#">{{title}}</a>
        </div>
        {{/each}}
    </div>
</div>