<div class="small-header">
</div>
<nav class="main-nav">
    <a href="/" class="logo-container"> <img src="/LogoBlanco.png" class="nav-logo" alt="">
    </a>
    <div class="button-listen-now font-crimson"><span>ESCUCHAR AHORA!</span></div>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>

</nav>
<nav id="main-nav-menu" class="main-nav-menu menu-out">
    <div id="close-button" class="close-button"><span>+</span></div>
    <h2 class="font-crimson">MENU</h2>
    <ul class="nav-list">
        <li><a href="/all/news" class="nav-link font-crimson">NOTICIAS</a></li>
        <li><a href="/all/columns" class="nav-link font-crimson">RECORTES</a></li>
        <li><a href="/all/emitions" class="nav-link font-crimson">EMISIONES</a></li>
        <li><a href="/contact" class="nav-link font-crimson">CONTACTO</a></li>
    </ul>
    <div class="socials-footer">
        <a href="https://www.youtube.com/channel/UCcbkYFIp1yckYM_SqWWG4Gw/" class="img-container">
            <img src="/Youtube.svg" alt="youtube">
        </a>
        <a href="https://www.facebook.com/Radio-Entre-Piernas-109936057248253" class="img-container">
            <img src="/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.twitter.com/radioentrep/" class="img-container">
            <img src="/Twitter.svg" alt="twitter">
        </a>
        <a href="https://www.instagram.com/entrep49/" class="img-container">
            <img src="/Instagram.svg" alt="instagram">
        </a>
    </div>
</nav>

<div id="menu-button" class="menu-button"><span>|||</span></div>
<div style="margin-top: 7vh;" class="socials-header">
    <a href="https://www.youtube.com/channel/UCcbkYFIp1yckYM_SqWWG4Gw/" class="img-container">
        <img src="/Youtube.svg" alt="youtube">
    </a>
    <a href="https://www.facebook.com/Radio-Entre-Piernas-109936057248253" class="img-container">
        <img src="/facebook.svg" alt="facebook">
    </a>
    <a href="https://www.twitter.com/radioentrep/" class="img-container">
        <img src="/Twitter.svg" alt="twitter">
    </a>
    <a href="https://www.instagram.com/entrep49/" class="img-container">
        <img src="/Instagram.svg" alt="instagram">
    </a>
</div>