<nav class="nav-flex">
    <img class="navigation-logo" src="/img/LogoBlanco.png" alt="">


    <div class="listen-button" >
        <a class="listen-href-button" href="#sub-text" onclick="soundCloudSpan()"> <i class="listen-icon material-icons">
                radio
            </i> Escuchar Ahora!</a>
    </div>
    <ul class="nav-links">
        <a class="nav-link" href="#">
            <li>Home</li>
        </a>

        <a class="nav-link" href="#">
            <li>Noticias</li>
        </a>
        <a class="nav-link" href="#">
            <li>Recortes</li>
        </a>
        <a class="nav-link" href="#">
            <li>Emisiones</li>
        </a>
        <a class="nav-link" href="#">
            <li>Contactos</li>
        </a>

    </ul>

</nav>