<div class="dashboard-control">

    <div class="U-info-dash">
        <h2 class="Udatos-title">Contraseña</h2>
        <form id="form" class="form-flex" action="/users/pass/modify?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input class="p-input" id="pass" type="password" name="newPass" placeholder="Inserte su nueva contaseña">
            <input class="p-input" id="rePass" type="password" name="reNewPass"
                placeholder="Inserte su nueva contaseña">
            <input class="p-input" id="oldPass" type="password" name="oldPass"
                placeholder="Inserte su contraseña actual">
            <input class="p-input" id="reOldPass" type="password" name="reOldPass"
                placeholder="Inserte su contraseña actual">
            <button id="sender" class="B-B-Submit" type="submit">MODIFICAR DATOS</button>
        </form>
    </div>

</div>
<script>
    document.getElementById('sender').addEventListener('click', (e) => {
        e.preventDefault();
        let pass = document.getElementById('pass').value;
        let rePass = document.getElementById('rePass').value;
        let oldPass = document.getElementById('oldPass').value;
        let reOldPass = document.getElementById('reOldPass').value;
        if (pass.length < 3 || rePass < 3 || oldPass < 3 || reOldPass < 3) {
            alert("Alguno de los Campos es demasiado corto");
        };
        else if (pass !== rePass) {
            alert("Tus nuevas contraseñas no coinciden");
        }
        else if (oldPass !== reOldPass) {
            alert("Tus contraseñas actuales no coinciden");
        } else
            document.getElementById('form').submit();
    });
</script>