<div class="dashboard-control">

    <div class="iframes-dash">

        <style>
            .delete-panel {
                width: 95%;
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
            }

            .delete-panel form {
                width: 150px;
                height: auto;
                margin: 2vh;
            }
        </style>
        <div class="delete-panel">
            {{#if bigSound}}
            {{#each bigSound}}
            <form action="/iframes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/{{video_id}}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <button>Borrar</button>
            </form>
            {{/each}}
            {{/if}}
        </div>
        <div class="iframe-form">

            <form class="actual-iframe-form" action="/admin/bigsound/register" method="POST">
                <input type="text" name="iframe" class="input-i">
                <button type="submit" class="button-i">Actualizar</button>
            </form>
        </div>





    </div>
</div>