<div class="dashboard-control">

    <div class="U-info-dash">
        <h2 class="Udatos-title">Modificar Redes</h2>
        <form id="form" class="form-flex" action="/users/social/modify?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input id="insta" class="p-input" type="text" name="insta" placeholder="Inserte su direccion de INSTAGRAM">
            <input id="face" class="p-input" type="text" name="face" placeholder="Inserte su dirección de FACEBOOK">
            <input id="twit" class="p-input" type="text" name="twit" placeholder="Inserte su dirección de TWITTER">
            <button id="sender" class="B-B-Submit" type="submit">MODIFICAR REDES</button>
        </form>
    </div>

</div>