<div class="nav-container">
    <ul class="nav-list">
        <li class="sayHi">Hola {{#if user}}{{user.name}}{{/if}}</span>
        <li class="profile-nav-links"><a href="/"><i class="fas fa-home"></i>Home</a></li>
        <li class="profile-nav-links"><a href="/logoutbyebye"><i class="fas fa-power-off"></i>Cerrar Sesión</a></li>
    </ul>
</div>