<div class="container-login form-card">
    <h1 style="font-family:sans-serif; text-align:center">Registrarse</h1>
    <form class="form" action="/nochesdesignin" method="POST">
        <input type="text" class="input-user" name="name" id="" placeholder="Name">
        <input type="password" class="input-pass" name="password" placeholder="Password" id="">
        <button type="submit" class="button-submit">Submit this fucking user!</button>
    </form>
</div>